<div class="texts full overflow" style='--i: 0'>
    <br><br>
    <h2 class="center">PSGameSpider</h2><br>

    <span class="virgule center" id="page-dest">
        /
    </span>
    <br>
    <div class="form-control half center" style="margin: 1em auto">
        <input type="search" required="" oninput="psSearch(this.value)" onpropertychange="psSearch(this.value)"
            class="half" list="gamelist">
        <label>
            <span class="i_small ri:search-2-line" style="--i: 0;">&nbsp;</span>
            <% for (let i=0; i < i18n.search.length; i++) { %>
                <span style="--i: <%= i %>">
                    <%= i18n.search[i] %>
                </span>
                <% } %>
        </label>
    </div>


    <div class="friends-link-box" id="ps-search-result">

    </div>
    <script>
        function getstructuregameSearchResult(game) {
            return `
            <a href="/${game.lang}/${game.path.split("/").pop()}" class="no-effect">
            <div class="square-img-box">
            <div class="square-img-box-img">
            <img src="${'/' + game.img.replace('images', 'mini')}" alt="${game.fullname}" class="no-zoom" />
            </div>
            <div class="square-img-box-name">
            ${game.name} <br>
            <span>${game.fullname}</span>
            </div>
            </div>
            </a>`;
        }
        function psSearch(name) {
            if (name !== '' && name !== ' ') {
                switchElementContent('#ps-search-result', structureSquareLoading);
                if (typeof searchTimer !== 'undefined') {
                    clearTimeout(searchTimer);
                }
                searchTimer = setTimeout(function () {
                    if (typeof umami !== 'undefined') {
                        umami.track('search', { "keyword": name })
                    }
                    fetch('/api/search?area=<%= lang %>&keyword=' + name)
                        .then((response) => response.json())
                        .then((data) => {
                            let gameSearchResult = '';
                            for (let i = 0; i < data.length; i++) {
                                gameSearchResult += getstructuregameSearchResult(data[i]);
                            }
                            if (!document.getElementById('ps-search-result').innerHTML == '') {
                                switchElementContent('#ps-search-result', gameSearchResult, 200);
                            }
                            setTimeout(() => {
                                loadItems('#ps-search-result');
                                zoomPics();
                            }, 310);
                        })
                        .catch((error) => {
                            switchElementContent('#ps-search-result', structureErrorInfo(error));
                        });
                }, 1000);
            } else {
                switchElementContent('#ps-search-result', '');
            }
        }
    </script>
    <div class="full center flex-list">
        <a class="no-effect">
            <div>
                <span class="virgule">
                    <%= i18n.current_area %>
                </span>
                <span class="virgule">
                    <%= lang %>
                </span>
            </div>
        </a>
        <a class="no-effect">
            <div>
                <span class="virgule">
                    <%= i18n.current_area_game_count %>
                </span>
                <span>
                    <h4>
                        <%= gameList.length %>
                    </h4>
                </span>
            </div>
        </a>
        <a class="no-effect">
            <div>
                <span class="virgule">
                    <%= new Date(new Date().getTime() + (8 * 60 + new Date().getTimezoneOffset()) *
                        60000).toISOString().split('T')[0].replace(/-/g, '/' ) %><br>
                        <%= new Date(new Date().getTime() + (8 * 60 + new Date().getTimezoneOffset()) *
                            60000).toLocaleTimeString('en-US', { timeZone: 'Asia/Shanghai' , hour12: false }) %>
                </span>
            </div>
        </a>
    </div>
    <div class="full center flex-list">
        <% for (let i=0; i < langList.length; i++) {%>
            <a class="no-effect" href="/<%= langList[i] %>/">
                <div>
                    <span class="virgule">
                        <%= i18n.switch_to %>
                    </span>
                    <span class="virgule">
                        <%= langList[i] %>
                    </span>
                </div>
            </a>
            <% } %>
    </div>

    <hr class="light">
    <% if (todayDiscount.length> 0) { %>
        <span class="virgule center">
            - <%= i18n.today_discount %> -
        </span>
        <div id="friends-link-box">
            <% for (let i=0; i < discount.length; i++) { %>
                <a href="/<%= lang %>/<%= discount[i].path.split("/").pop() %>" class="no-effect">
                    <div class="square-img-box">
                        <div class="square-img-box-img">
                            <img src="<%= '/'+discount[i].img.replace('images', 'mini') %>"
                                alt="<%= discount[i].fullname %>" class="no-zoom" />
                        </div>
                        <div class="square-img-box-name">
                            <%= discount[i].name %> <br>
                                <span><del>
                                        <%= discount[i].previousPrice %>
                                    </del>
                                    <%= discount[i].price + discount[i].priceCurrency %>
                                </span>
                        </div>
                    </div>
                </a>
                <% } %>

        </div>
        <br>
        <% } %>

            <% if (discount.length> 0) { %>
                <span class="virgule center">
                    - <%= i18n.discount_game %> -
                </span>
                <div id="friends-link-box">
                    <% for (let i=0; i < discount.length; i++) { %>
                        <a href="/<%= lang %>/<%= discount[i].path.split("/").pop() %>" class="no-effect">
                            <div class="square-img-box">
                                <div class="square-img-box-img">
                                    <img src="<%= '/'+discount[i].img.replace('images', 'mini') %>"
                                        alt="<%= discount[i].fullname %>" class="no-zoom" />
                                </div>
                                <div class="square-img-box-name">
                                    <%= discount[i].name %> <br>
                                        <span><del>
                                                <%= discount[i].previousPrice %>
                                            </del>
                                            <%= discount[i].price + discount[i].priceCurrency %>
                                        </span>
                                </div>
                            </div>
                        </a>
                        <% } %>

                </div>
                <br>
                <% } %>

                    <% if (recent.length> 0) { %>
                        <span class="virgule center">
                            - <%= i18n.new_publish_game %> -
                        </span>
                        <div id="friends-link-box">
                            <% for (let i=0; i < recent.length; i++) { %>
                                <a href="/<%= lang %>/<%= recent[i].path.split("/").pop() %>" class="no-effect">
                                    <div class="square-img-box">
                                        <div class="square-img-box-img">
                                            <img src="<%= '/'+recent[i].img.replace('images', 'mini') %>"
                                                alt="<%= recent[i].fullname %>" class="no-zoom" />
                                        </div>
                                        <div class="square-img-box-name">
                                            <%= recent[i].name %> <br>
                                                <span>
                                                    <%= new Date(recent[i].releaseTime).toLocaleDateString('zh-CN', {
                                                        year: 'numeric' , month: '2-digit' , day: '2-digit'
                                                        }).replace(/\//g, '/' ) %>
                                                </span>
                                        </div>
                                    </div>
                                </a>
                                <% } %>

                        </div>
                        <br>
                        <% } %>
                            <span class="virgule center">
                                - <%= i18n.random_game %> -
                            </span>
                            <div id="friends-link-box">
                                <% for (let i=0; i < randomList.length; i++) { %>
                                    <a href="/<%= lang %>/<%= randomList[i].path.split("/").pop() %>"
                                        class="no-effect">
                                        <div class="square-img-box">
                                            <div class="square-img-box-img">
                                                <img src="<%= '/'+randomList[i].img.replace('images', 'mini') %>"
                                                    alt="<%= randomList[i].fullname %>" class="no-zoom" />
                                            </div>
                                            <div class="square-img-box-name">
                                                <%= randomList[i].name %> <br>
                                                    <span>
                                                        <span class="i_small ri:star-fill"></span>
                                                        <%= randomList[i].rate %> • <%= randomList[i].type %>
                                                    </span>
                                            </div>
                                        </div>
                                    </a>
                                    <% } %>
                            </div>

                            <br>
                            <br>
                            <hr>
                            <h4 class="virgule center"><a href="https://github.com/ravelloh/PSGameSpider"
                                    class="no-effect">Github:RavelloH/PSGameSpider</a></h4>
</div>
